<a href="https://colab.research.google.com/gist/iC0rraxX/c643b5dd344bcfb7d438a6c798280977/2-python-basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

This section will go over some of the very basics of Python.

There are lots of good Python introductions on the internet. If you have some basic coding familiarity and you want to take an in-depth introductory course, then I highly recommend [Google's Python Class](https://developers.google.com/edu/python/), which has 6 hours of lecture and about 6 hours of exercises. Beware that that class is for Python 2, not Python 3 (I believe the only difference that matters in that course is that you'll need parentheses around your print statements).

## The ``print`` and ``display`` Functions

We can make things appear on-screen by using the ``print`` function. Put the thing that we want to print inside the parentheses.

Note that in Python 2, ``print`` didn't use parentheses. Python 2 is slowly disappearing (after a very long and painful transition to Python 3).

Let's run the next cell now.

In [1]:
print(3.14)
print(72)
print(True)
print('Hello')

3.14
72
True
Hello

In Colab notebooks, you can also use the ``display`` function to print things. This will usually be the same as calling ``print``, but for some things (like DataFrames, which we'll get to later), it will print things in a prettier way.

In [2]:
display('Hello again.')

'Hello again.'

One more thing to know is that Colab notebooks will automatically ``display`` the result of the last line of code in a code cell. See the following cell as an example. When the cell is run the first line, ``1+1`` is not displayed, but the second line, ``2+2`` is displayed. We will use this syntax for much of the rest of this notebook.

In [3]:
1+1
2+2

4

**Protip**: To avoid having to click the play button at each of these cells, press Control+Enter (or Command+Enter on macOS) to run the selected cell, and then use the down arrow key to move to the next cell. If you want to automatically create a new cell after running a cell, use Shift+Enter (not so useful for this notebook, but helpful when writing your own code).

## Types

Every expression in Python has a type. The following are some of the basic built-in types.

*   Integers
*   Floating-point numbers (the term for real numbers, which can have something after the decimal, unlike integers)
*   Strings (which are snippets of text)
*   Booleans (which are True or False)
*   NoneType (a special type which means "not specified" or "there is nothing here" -- it will appear in documentation a lot)

The ``type()`` function will return the type of whatever is in the parentheses.
Think through what each of the following blocks of code will print before running them.

**Note**: Colab may have something like *5 cells hidden* written below. You'll need to click that to expand the cells. To expand all of the hidden cells in this document, click View > Expand Sections.

In [4]:
type(3)

int

In [5]:
type(3.14)

float

In [6]:
type('Hello')

str

In [7]:
type(True)

bool

In [8]:
type(None)

NoneType

## Comments and Variables

In our programs, we'll be storing various things (numbers, tables, vectors, lists) in variables. Variables are created by assigning them some value with an ``=`` symbol.

For example, the below code creates four variables. There are comments above each line explaining what the line will do. Comments are lines in the code that begin with a ``#`` symbol.

In [9]:
# a will now be an integer
a = 3
# b will now be a string. Note that we could have used "Hello" (with
# double-quotes) and gotten the same result.
b = 'Hello'
# c will be a "floating-point number", which, for our purposes means "a real
# number" -- not an integer.
c = 3.14159265358979
# d will be a boolean value
d = False

Note that nothing printed because assigning an expression returns ``None`` (which isn't printed, like we mentioned before). Let's print our variables now.

In [10]:
print(a)
print(b)
print(c)
print(d)

3
Hello
3.14159265358979
False

## Arithmetic

The ``+``, ``-``, ``*``, ``/``, and ``()`` operators do the usual arithmetic that one would expect. Exponents are done using the ``**`` operator.

Think through what each of the following blocks of code will print.

(Again, the press Control+Enter or Command+Enter shortcut key may be helpful here).

In [11]:
2+2

4

In [12]:
2-1

1

In [13]:
2*2

4

In [14]:
4/2

2.0

In [15]:
2**3

8

In [16]:
(1+2)**3

27

## Logic

You can check if two expressions are equal using the ``==`` operator or not equal using the ``!=`` operator. The ``<`` and ``\>`` operators are for less and greater than, and ``<=`` and ``>=`` are for less or equal than and greater or equal than.

In [17]:
4 == 5

False

In [18]:
4 != 5

True

In [19]:
4 <= 4

True

You can also use the ``&`` and ``|`` operators to perform and logical and or operations.

The following is read as "True or False".

In [20]:
True | False

True

And the following is read as "True and False".

In [21]:
True & False

False

Negation is done using the word ``not``. This is unlike other languages that use ``!``.

In [22]:
not(True)

False

## Strings

Strings are pieces of text. They can be created using single-quotes (``'``) or double-quotes (``"``).

Strings can be concatenated (stuck together) using the ``+`` operator. For example:

In [23]:
'abc' + 'def'

'abcdef'

You can turn almost any type into a string by putting it inside the ``str`` function. This can be helpful when printing results.

Suppose you do some really complicated computation to get a variable ``x`` and you want to print it with some related context. The expression ``str(x)`` will return a string for the variable's value.

In [24]:
x = 1 + 2 + 3
print('x is equal to ' + str(x))

x is equal to 6

# More Complex Python Types

Here are some of the more complex Python types and functions that we will make use of.

## Lists

A list is what it sounds like: A list of objects. The objects in a list can have any type.

To create a list, use a ``[`` and ``]`` pair, with the entries in the list inside the brackets, separated by commas. Remember what values we assigned to ``a``, ``b``, and ``c`` before? (they were ``3``, ``'Hello'``, and $\pi$, respectively).

In [25]:
my_list = [1, a, b, c, 'The End']
my_list

[1, 3, 'Hello', 3.14159265358979, 'The End']

The individual elements of a list can be accessed using the ``[]`` operator. The first element in a list has an index of ``0``, the second has index ``1``, and so on.

In [26]:
print(my_list[0])
print(my_list[4])

1
The End

You can modify elements of a list in the same way that you can set variables, using the = operator.

In [27]:
my_list[1] = a
my_list

[1, 3, 'Hello', 3.14159265358979, 'The End']

You can get the length of a list using the ``len`` function.

In [28]:
len(my_list)

5

Like strings, two lists can be concatentated with the ``+`` operator.

In [29]:
[a, b, c] + [1, 2, 3]

[3, 'Hello', 3.14159265358979, 1, 2, 3]

And entries can be appended to the end of a list using the ``append`` function.

In [30]:
my_list.append("Appendage")
my_list

[1, 3, 'Hello', 3.14159265358979, 'The End', 'Appendage']

## Functions

Functions are blocks of code that take parameters, perform some computation, and return a value.

The following block of code creates a function called ``MyFunction``. It takes a parameter ``a`` and returns ``a+1``.

In [31]:
def MyFunction(a):
  
  return a+1

Let's call our function now.

In [32]:
MyFunction(1000)

1001

We'll be using functions that take many many many parameters, which most of the time have sensible "default" values. See, for example [this function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) which we'll use in the next notebook to read a CSV file takes 49(!) parameters.

We can define default values for parameters using the following syntax. When we specify default values for parameters, they are optional, and can be specified in any order. This will be very helpful to be familiar with when we're using our data science libraries.

In [ ]:
def MySecondFunction(a = 1, b = 2, c = 3):
  print("a was " + str(a))
  print("b was " + str(b))
  print("c was " + str(c))
  # Functions that don't have a "return" statement will return the None value.
  return None

Now we can call MySecondFunction without specifying any parameters.

In [ ]:
MySecondFunction()

a was 1
b was 2
c was 3

We can call ``MySecondFunction`` only specifying the parameters that we want to.

In [ ]:
MySecondFunction(c = 5)

Or, we can call ``MySecondFunction`` with some parameters in "positional" form (without names) and some parameters using names. What will this function call print?

In [ ]:
MySecondFunction(999, c = 1000)

a was 999
b was 2
c was 1000